<section class="usa-banner" aria-label="Official government website">
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-auto">
          <img class="usa-banner__header-flag" src="{{ site.baseurl }}/assets/columbus/img/flag-columbus-small.png" alt="City of Columbus flag">
        </div>
        <div class="grid-col-fill tablet:grid-col-auto">
          <p class="usa-banner__header-text"><b>NOT</b> an official website of the City of Columbus</p>
          <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
        </div>
        <button class="usa-accordion__button usa-banner__button"
          aria-expanded="false" aria-controls="gov-banner">
          <span class="usa-banner__button-text">Here’s how you know</span>
        </button>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content" id="gov-banner">
      <script type="text/javascript">
        // Hide the gov banner immediately rather than waiting for external JS
        // sources to load and execute.
        document.getElementById("gov-banner").setAttribute("hidden", "");
      </script>
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="{{ site.baseurl }}/assets/uswds/img/icon-dot-gov.svg" role="img" alt="Dot gov">
          <div class="usa-media-block__body">
            <p>
              <strong>Official websites use .gov</strong>
              <br/>
              A <strong>.gov</strong> website belongs to an official government organization in the United States.
              <br>
              This website does <strong>not</strong> have a .gov domain name.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>